@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
}
.container {
  border-radius: 5px;
  background:hsl(210, 46%, 95%);
}

/* --- MOBILE STYLES --- */
@media only screen and (max-width: 375px) {
  .article__preview__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .article__preview__content {
    padding: 2rem 2rem;
  }
  .article__preview__title {
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 1rem;
  }
  .article__preview__excerpt {
    color: hsl(214, 17%, 51%);
    letter-spacing: 0.2px;
    padding-right: 2rem;
  }
  .article__preview__social {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .article__preview__avatar {
    border-radius: 50%;
    max-width: 12%;
    margin-right: 1rem;
  }
  .article__preview__date {
    color: hsl(214, 17%, 51%);
  }
  .article__preview__share {
    color: hsl(217, 19%, 35%);
    margin-left: auto;
    margin-right: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
  }
}


/* --- Deskstop STYLES --- */
@media only screen and (min-width: 1250px) {

}

.attribution {
  margin-top: 4rem;
}






























.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}